/*Take away all page margins so that there are no visible borders*/
* {
	margin: 0;
}

/*Make the font Helvetica*/
* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Make the navigation bar 100% of page width with colored background*/
.navbar	{
	width: 100%;
	margin: 0px auto;
	background-color: #000107;
	padding: 20px;
	text-decoration: none
}

/*Take the bullet points out from navigation list*/
.navbar ul {
	list-style-type: none;
	margin: 0;
	text-decoration: none;
	text-align: right;

}

/*Make navigation bar line items inline with each other*/
.navbar ul li {
	display: inline-block;
	text-decoration: none;
}

/*Give space separation to navigation bar line items*/
.navbar li {
	margin-right: 60px;
}

/*Take hyperlink underline away from links in navigation bar*/
.navbar a {
	text-decoration: none;
}

/*Change color of navigation bar line items when mouse hovers over link*/
.navbar ul li a:hover {
	background-color: #0A0B14;
}

/*Make the navigation bar line items have shrink animation*/
a:link {
    display: inline-block;
    font-size: 34px;
}

a:hover {
    position: relative;
    top: 0;
    left: 0;
    font-size: 28px;
}

/*Keep navigation bar line item links the same color regardless if link was already clicked*/

/* unvisited link */
a:link {
    color: #929FAD;
}

/* visited link */
a:visited {
    color: #929FAD;
}

/* mouse over link */
a:hover {
    color: #929FAD;
}

/* selected link */
a:active {
    color: #929FAD;
}

.space {
	float: left;
	width: 80%;
	height: 40px;
	padding: 40px;
	margin: 0 auto;

/*--------------Email Me-------------*/

.emailme {
	width: 60%
	margin: 0 auto;
	padding: 80px
}

/*------------ media queries --------------*/

/*make page mobile/tablet responsive based on page width*/
@media all and (max-width: 480px){
	.wrapper {
		width: 80%;
		margin: 100px auto;
	}
	.block {
		float: none;
		margin-left: 50px;
		margin-top: 10px;
	}
}

@media all and (min-width: 481px) and (max-width: 767px){
	.wrapper {
		width: 80%;
	}

	.block {
	width: 100px;
	height: 50px;
	background-color: teal;
	float: left;
	margin: 5px 0 5px 50px;
	}
}

@media all and (min-width: 482px) and (max-width: 600px){
	.wrapper {
		width: 80%;
	}

	.block {
	width: 100px;
	height: 50px;
	background-color: teal;
	float: none;
	margin: 5px 0 5px 50px;
	}

}

@media all and (min-width: 768px) and (max-width: 992px){

}